@media (min-width: 768px) {
	body {
		flex-direction: row;
	}

	.sidebar {
		width: 260px;
		min-width: 260px;
		max-width: 260px;
		max-height: 100vh;
		overflow-y: auto;
		position: sticky;
		border-right: 1px solid #dddddd;
		top: 0;
	}
}

@media (max-width: 767px) {
	.sidebar {
		display: none !important;
	}
}
